<md-dialog flex="70" ng-controller='settingsController'>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <span>Settings</span>
        </div>
    </md-toolbar>

    <md-dialog-content layout="column" class="md-dialog-content">

        <h4>Omni Notes backup folder</h4>
        <material-file-input notes-folder="{{notesFolder}}" />

        <md-divider/>
        <md-button ng-click="showChangelog()">Changelog</md-button>

    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-primary" ng-click="closeSettings()">Close</md-button>
    </md-dialog-actions>

</md-dialog>
